<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.netease.cloudmusic" platformBuildVersionCode="23" platformBuildVersionName="6.0-2166767">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <application android:hardwareAccelerated="true" android:icon="@drawable/logo" android:label="@string/appName" android:largeHeap="true" android:name="com.netease.nis.wrapper.MyApplication" android:theme="@style/AppTheme">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ActivityTrackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ListenMusicRankActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="false" android:name="com.netease.cloudmusic.activity.ImageBrowseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.LocalImageBrowseActivity" android:screenOrientation="portrait" android:theme="@style/localImageBrowseActivityActionBarTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.DlnaSettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MyPrivateCloudActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ArtistCategoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.TopicActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ApplyForRadioActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ProgramMusicActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ShareImageLrcActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.SimilarRecommendActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ClearCacheActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PlayListExpertListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.IdentifyActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.SearchActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.AlbumActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.DailyRcmdMusicActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.AddToPlayListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.AddToPlaylist"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.RecordProgramActivty" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ProfileActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MessageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PlayerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PlayerRadioActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PlayerProgramActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.RelativePeopleActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.netease.cloudmusic.activity.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ProfileModifyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ImportMusicActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.NotifySettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.LineCtrlActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.LockScreenCtrlActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.LoadingActivity" android:screenOrientation="portrait" android:theme="@style/loadingActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ArtistListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.NewMusicAndAlbumActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.UniqueResourceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PlayListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.PlayListActivity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ScanMusicActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ArtistBillboardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ArtistActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ShareActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.Share2FreindActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.InviteFriendActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.BindSettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.BindAccountActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.FeedbackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.TrackDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.EditCommentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MusicOnlineQualityActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MusicDnloadQualityActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.OrderMainPagerRcmdItemActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.StarUserActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.UserTrackActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.CommentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PrivateMsgDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.EditPlayListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.FindAndInviteFriendActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.BindCellphoneNumActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.BindCellphoneSettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.IntroduceActivity" android:screenOrientation="portrait" android:theme="@style/noActionBarTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.netease.cloudmusic.activity.EmbedBrowserActivity" android:process=":embedbrowser" android:screenOrientation="portrait" android:theme="@style/noActionBarTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.netease.cloudmusic.wxapi.WXEntryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.netease.cloudmusic.yxapi.YXEntryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MVActivity" android:theme="@style/mvActivityActionBarTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.LiveActivity" android:theme="@style/mvActivityActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.UserAndProgramBillboardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ClassSelectActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MyDownloadMusicActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MissingFileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.EditInviteActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.netease.cloudmusic.activity.RedirectActivity" android:screenOrientation="portrait" android:theme="@style/redirectActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="orpheus"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.AtSomebodyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ForwardTrackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MyRecentMusicActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity-alias android:icon="@drawable/identify_widget_icn" android:label="@string/identifyShortcutLabel" android:name="com.netease.cloudmusic.activity.IdentifyShortcutActivity" android:targetActivity="com.netease.cloudmusic.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.CAR_MODE"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:icon="@drawable/radio_widget_icn" android:label="@string/radioShortcutLabel" android:name="com.netease.cloudmusic.activity.RadioShortcutActivity" android:targetActivity="com.netease.cloudmusic.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.CAR_MODE"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.CollectedRadioListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.CommonShareActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.netease.cloudmusic.activity.CommonSubjectActivity" android:process=":embedbrowser" android:screenOrientation="portrait" android:theme="@style/noActionBarTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.UnicomFreeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.netease.cloudmusic.activity.SharePanelActivity" android:theme="@style/Dialog.SlideFromBottom"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent100495085"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.InvitePairsFollowActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ThemeListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ThemeColorDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ThemeDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ImageGalleryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.CollectedArtistListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.OperatorFreeDialogActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.CollectedMVListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.RadioDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.MVSelectedActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.RadioCategoryListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ProgramUploadActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PublishProgramActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.BindPassActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.ReportActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.BlacklistActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.DeprecateTencentAccountActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.AliPayActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.PictureChooserActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.CreamPlaylistActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.cloudmusic.activity.RadioAndProgramBillboardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.netease.cloudmusic.activity.LockScreenActivity" android:screenOrientation="portrait" android:taskAffinity="com.netease.music.lockscreen.task" android:theme="@style/lockScreenActivityTheme"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="false" android:name="com.alipay.sdk.auth.AuthActivity" android:screenOrientation="behind"/>
        <service android:name="com.netease.cloudmusic.service.PlayService"/>
        <service android:name="com.netease.cloudmusic.service.LocalMusicMatchService"/>
        <service android:name="com.netease.cloudmusic.service.upgrade.LocalMusicTaskService"/>
        <service android:name="com.netease.cloudmusic.service.PushService"/>
        <service android:name="com.netease.cloudmusic.service.download.DownloadService"/>
        <service android:name="com.netease.cloudmusic.service.upload.UploadService"/>
        <service android:exported="true" android:name="com.netease.cloudmusic.service.LogicService"/>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"/>
        <receiver android:name="com.netease.cloudmusic.receiver.MediaButtonEventReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/widgetName4x1" android:name="com.netease.cloudmusic.module.appwidget.PlayerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.netease.music.action.STAR_MUSIC"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/player_widget_provider_4x1"/>
        </receiver>
        <receiver android:label="@string/widgetName4x2" android:name="com.netease.cloudmusic.module.appwidget.PlayerWidgetFourTwo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.netease.music.action.STAR_MUSIC"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/player_widget_provider_4x2"/>
        </receiver>
        <receiver android:label="@string/widgetName4x4" android:name="com.netease.cloudmusic.module.appwidget.PlayerWidgetFourFour">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.netease.music.action.STAR_MUSIC"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/player_widget_provider_4x4"/>
        </receiver>
        <receiver android:enabled="false" android:name="com.netease.cloudmusic.activity.IntroduceActivity$PackageInstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
